body{
  background-color: rgb(39, 58, 39);
  margin: 0 auto!important;
  background-image: url("./images/CuShj4j.jpg");

}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.img{
  max-width:200px!important;
}

img{
  outline: none!important;
}
body, html {
  height: 100%;
  font-family: 'Meiryo UI', monospace!important;
}

li, h2{
  font-family: 'Meiryo UI', monospace!important;
  color: rgba(219, 219, 219, 0.808);

}

.bg {
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@font-face
{
    font-family: 'Meiryo UI';
    font-weight: lighter;
    font-style: normal;
    src: url('./images/Shrek.ttf');
}